*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #1e1e1e;
    color:#a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    gap: 40px;
    grid-template-columns: 350px 1fr;
    padding-top: 40px;
    margin: auto;
}
.sidebar{
    background-color: #2e2e2e;
    border-radius: 15px;
    height: 90vh;
    border: 1px solid #3a3a3a;
    
}
.main-content{
    background-color: #2e2e2e;
    border-radius: 15px;
    height: 90vh;
    border: 1px solid #3a3a3a;
    padding: 40px;
}

    /* Profile Section */
.profile img{
    height:120px;
    width:120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile{
    text-align: center;
}
.profile h2{
    color:#e0e0e0;
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.5rem;
}
.profile p{
    background-color: #1e1e1e;
    color: #FFBF00;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #3a3a3a;
}

   /* Contact Section */
.contact{
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
}
.label{
    font-weight:500;
    font-size: 0.8rem;
    color:#a0a0a0;
}
.value{
     color: #e0e0e0;
     text-decoration: none;
}
.email,.phone{
     margin-bottom: 15px;
}

    /* Social Section */
.social{
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) insert(0.7);
}
